build/
.vs/
.vscode/
out/
*.user
*.suo
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.bin
*.gguf
*.safetensors
*.ckpt
*.onnx
logs/*
outputs/*
models/*
data/*
!data/external/
!data/processed/
!data/raw/
!data/external/.gitkeep
!data/processed/.gitkeep
!data/raw/.gitkeep
!outputs/.gitkeep
!models/.gitkeep
